@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Find out how many times your word appears in a sentence!</h1>
</div>

<form action="/results" method="post">
  <div class="form-group">
    <label for="find-this">Enter the word to search for:</label>
    <input name="find-this" type="text">
  </div>

  <div class="form-group">
    <label for="search-this">Enter the sentence to search through:</label>
    <input name="search-this" type="text">
  </div>
  <button type="submit" class="btn btn-info">Find out!</button>
</form>
