@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Your word '@Model.GetWord()' appeared in the sentence @Model.CountRepeats() times!</h1>
</div>

<h5><a href="/">Search something else</a></h5>
